<p id="notice"><%= notice %></p>

<p>
  <b>Uniq command:</b>
  <%= @user_command.uniq_command %>
</p>

<p>
  <b>Frequency:</b>
  <%= @user_command.frequency %>
</p>





<p>
  <b>History:</b>
  <%= @user_command.history_id %>
</p>


<%= link_to 'Edit', edit_user_command_path(@user_command) %> |
<%= link_to 'Back', user_commands_path %>
